# _BASE_: ./

MODEL:
  PIXEL_MEAN : [127.5, 127.5, 127.5]
  PIXEL_STD : [127.5, 127.5, 127.5]
  META_ARCHITECTURE: "SAM3MC_o365"
  SAM3:
    BPE_PATH: "sam3/assets/bpe_simple_vocab_16e6.txt.gz"
    ENABLE_SEGMENTATION: True
  # WEIGHTS: "/data/hmp/huggingface/hub/models--facebook--sam3/snapshots/3c879f39826c281e95690f02c7821c4de09afae7/sam3.pt" 
  # WEIGHTS: "/root/hub_home/hub/models--facebook--sam3/snapshots/3c879f39826c281e95690f02c7821c4de09afae7/sam3.pt" 
  # WEIGHTS: /data/hmp/sam3.pt
  WEIGHTS: /data/hmp/mysam/weights/obj4e5.pth
DATASETS:
  # TRAIN: ("objects365_v1_masktrain",) 
  TRAIN: ("coco_2017_train_panoptic",)
  TEST: ('openvocab_ade20k_panoptic_val',) 
SOLVER:
  AMP:
    ENABLED: True
  IMS_PER_BATCH: 8
  # IMS_PER_BATCH: 3
  BASE_LR: 0.00002
  LR_SCHEDULER_NAME: WarmupPolyLR
  MAX_ITER: 7500 # 295000 # 55000 
  CHECKPOINT_PERIOD: 2500

  CLASS_WEIGHT: 2.0
  MASK_WEIGHT: 5.0
  DICE_WEIGHT: 5.0
  USE_AUX : True

TEST:
  EVAL_PERIOD: 2500
  INSTANCE_ON: True   # 测 AP (Objects365 的主要指标)
  PANOPTIC_ON: True   # 测 PQ
  SEMANTIC_ON: True   # 测 mIoU

INPUT:
  DATASET_MAPPER_NAME: "coco_combine_lsj"
  # 这个参数控制 ResizeScale 的目标尺寸和 FixedSizeCrop 的裁剪尺寸
  IMAGE_SIZE: 1008
  # 控制 ResizeScale 的缩放比例
  MIN_SCALE: 1.0
  MAX_SCALE: 1.0
  # 图片读取格式
  FORMAT: "RGB"

OUTPUT_DIR: ./out/instance/test
  
