MODEL:
  PIXEL_MEAN : [127.5, 127.5, 127.5]
  PIXEL_STD : [127.5, 127.5, 127.5]
  META_ARCHITECTURE: "SAM3MC"
  SAM3:
    BPE_PATH: "sam3/assets/bpe_simple_vocab_16e6.txt.gz"
    ENABLE_SEGMENTATION: True
  WEIGHTS: "/data/hmp/huggingface/hub/models--facebook--sam3/snapshots/3c879f39826c281e95690f02c7821c4de09afae7/sam3.pt" 
DATASETS:
  TRAIN: ("openvocab_coco_2017_train_stuff_sem_seg",)  #  openvocab_coco_2017_train_panoptic_with_sem_seg
  TEST: ('openvocab_ade20k_panoptic_val',) 
SOLVER:
  IMS_PER_BATCH: 1
  BASE_LR: 0.0001


INPUT:
  DATASET_MAPPER_NAME: "mask_former_semantic" 
  # 1. 将短边缩放到 1008
  MIN_SIZE_TRAIN: (1008,)
  # 2. 这里的 MAX 必须足够大，防止长边被强行压扁
  MAX_SIZE_TRAIN: 2048
  
  # 3. 关键：启用裁剪，强制输出固定的 1008x1008 正方形
  CROP:
    ENABLED: True
    TYPE: "absolute"
    SIZE: (1008, 1008)
    # 如果遇到显存不够，可以把 SINGLE_CATEGORY_MAX_AREA 设为 1.0 忽略限制
  
