MODEL:
  PIXEL_MEAN : [127.5, 127.5, 127.5]
  PIXEL_STD : [127.5, 127.5, 127.5]
  META_ARCHITECTURE: "SAM3MC"
  SAM3:
    BPE_PATH: "sam3/assets/bpe_simple_vocab_16e6.txt.gz"
    ENABLE_SEGMENTATION: True
  WEIGHTS: "/data/hmp/huggingface/hub/models--facebook--sam3/snapshots/3c879f39826c281e95690f02c7821c4de09afae7/sam3.pt" 
  # WEIGHTS: "/root/hub_home/hub/models--facebook--sam3/snapshots/3c879f39826c281e95690f02c7821c4de09afae7/sam3.pt" 
DATASETS:
  TRAIN: ("openvocab_coco_2017_train_stuff_sem_seg",)  #  openvocab_coco_2017_train_panoptic_with_sem_seg
  TEST: ('openvocab_ade20k_panoptic_val',) 
SOLVER:
  AMP:
    ENABLED: True
  IMS_PER_BATCH: 8
  # IMS_PER_BATCH: 3
  BASE_LR: 0.00001
  LR_SCHEDULER_NAME: WarmupPolyLR
  MAX_ITER: 120000 # 295000 # 55000 
  CHECKPOINT_PERIOD: 2000

  NO_OBJECT_WEIGHT: 0.01
  CLASS_WEIGHT: 5.0
  MASK_WEIGHT: 5.0
  DICE_WEIGHT: 5.0


TEST:
  EVAL_PERIOD: 2000

INPUT:
  DATASET_MAPPER_NAME: "mask_former_semantic" 
  # 1. 将短边缩放到 1008
  MIN_SIZE_TRAIN: (1008,)
  # 2. 这里的 MAX 必须足够大，防止长边被强行压扁
  MAX_SIZE_TRAIN: 2048
  
  # 3. 关键：启用裁剪，强制输出固定的 1008x1008 正方形
  CROP:
    ENABLED: True
    TYPE: "absolute"
    SIZE: (1008, 1008)
    # 如果遇到显存不够，可以把 SINGLE_CATEGORY_MAX_AREA 设为 1.0 忽略限制

OUTPUT_DIR: ./out/semantic/sam3MC/bs4_1008_1e-5_120k
  
